<div th:fragment="footer">
    <footer class="text-muted py-5">
        <div class="container">
            <p class="float-end mb-1">
                <a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Back to top</font></font></a>
            </p>
            <p class="mb-1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Album example is © Bootstrap, but please download and customize it for yourself!</font></font></p>
            <p class="mb-0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">New to Bootstrap? </font></font><a href="/"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Visit the home page</font></font></a><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> or read our </font></font><a href="/docs/5.0/getting-started/introduction/ "><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">getting started guide</font></font></a><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> .</font></font></p>
        </div>
    </footer>
</div>